# Db2 JSON Array Functions
Updated: 2019-11-17

The Db2 11.5 ISO SQL JSON Functions do not currently support the unwrapping of arrays. You can unwrap arrays using Nested Table Expressions, but this can be error-prone and difficult to follow. The `SYSTOOLS` version of the JSON functions include a version of `JSON_TABLE` which provides an easier way of unwrapping arrays. However, the syntax used by this JSON function does not follow the SQL standard, nor is it part of the SYSIBM function group.

While there may be some hesitation in using this function, it does provide the capability required without much extra work. These function below will take an array in a document and return them as a list of rows. The rows will be returned in the datatype that the function is defined as. You can always modify these functions to support another datatype that you require. 

The section on using the JSON `SYSTOOLS` functions (Db2 11.1 features) contains details on how to create the proper sytax.

There are five functions in the list:
* `JSON_ARRAY_OBJECT` - Return an object
* `JSON_ARRAY_VARCHAR` - Return a character string
* `JSON_ARRAY_BIGINT` - Return a large integer
* `JSON_ARRAY_INTEGER` - Return an integer
* `JSON_ARRAY_DECFLOAT` - Return a DECFLOAT number
* `JSON_ARRAY_DATE` - Return a date

### Return an Object
This function will take an array and return a character string array of objects. You can use this function to extract nested JSON documents. There are two parameters required by this function:
* Value being unnested
* JSON Path expression

The JSON Path expression follows the same syntax as for the JSON ISO functions. 

In addition, arguments to the `SYSTOOLS` functions must be in BSON format. The function assumes that it is given a character string and converts it to BSON. If you already have data in BSON format, then this conversion is not done.

* Version 1 - Takes VARCHAR as input
* Version 2 - Take BSON (BLOB) as input

In [ ]:
%%sql -q
CREATE OR REPLACE FUNCTION JSON_ARRAY_OBJECT (
    IN JSON_IN VARCHAR(32000),
    IN JSON_PATH VARCHAR(1024)
)
RETURNS
    TABLE( VALUE VARCHAR(32000) )
RETURN
    SELECT SYSTOOLS.BSON2JSON(SYSTOOLS.JSON2BSON(RESULTS.VALUE)) FROM 
      TABLE ( 
         SYSTOOLS.JSON_TABLE( 
            SYSTOOLS.JSON2BSON(
                JSON_OBJECT( 
                   KEY 'array' 
                   VALUE JSON_QUERY(JSON_IN, JSON_PATH)
                   FORMAT JSON
                )
            ),
            'array',
            's:32000'
        ) 
    ) AS RESULTS

In [ ]:
%%sql -q
CREATE OR REPLACE FUNCTION JSON_ARRAY_OBJECT (
    IN JSON_IN BLOB,
    IN JSON_PATH VARCHAR(1024)
)
RETURNS
    TABLE( VALUE VARCHAR(32000) )
RETURN
    SELECT SYSTOOLS.BSON2JSON(SYSTOOLS.JSON2BSON(RESULTS.VALUE)) FROM 
      TABLE ( 
         SYSTOOLS.JSON_TABLE( 
            SYSTOOLS.JSON2BSON(
                JSON_OBJECT( 
                   KEY 'array' 
                   VALUE JSON_QUERY(JSON_IN, JSON_PATH)
                   FORMAT JSON
                )
            ),
            'array',
            's:32000'
        ) 
    ) AS RESULTS

### Return a VARCHAR Value
This function will take an array and return a character string value. There are two parameters required by this function:
* Value being unnested
* JSON Path expression

The JSON Path expression follows the same syntax as for the JSON ISO functions. 

In addition, arguments the `SYSTOOLS` functions must be in BSON format. The function assumes that it is given a character string and converts it to BSON. If you already have data in BSON format, then this conversion is not done.

* Version 1 - Takes VARCHAR as input
* Version 2 - Take BSON (BLOB) as input

In [ ]:
%%sql -q
CREATE OR REPLACE FUNCTION JSON_ARRAY_VARCHAR (
    IN JSON_IN VARCHAR(32000),
    IN JSON_PATH VARCHAR(1024)
)
RETURNS
    TABLE( VALUE VARCHAR(32000) )
RETURN
    SELECT RESULTS.VALUE FROM 
      TABLE ( 
         SYSTOOLS.JSON_TABLE( 
            SYSTOOLS.JSON2BSON(
                JSON_OBJECT( 
                   KEY 'array' 
                   VALUE JSON_QUERY(JSON_IN, JSON_PATH)
                   FORMAT JSON
                )
            ),
            'array',
            's:32000'
        ) 
    ) AS RESULTS

In [ ]:
%%sql -q
CREATE OR REPLACE FUNCTION JSON_ARRAY_VARCHAR (
    IN JSON_IN BLOB,
    IN JSON_PATH VARCHAR(1024)
)
RETURNS
    TABLE( VALUE VARCHAR(32000) )
RETURN
    SELECT SYSTOOLS.BSON2JSON(SYSTOOLS.JSON2BSON(RESULTS.VALUE)) FROM 
      TABLE ( 
         SYSTOOLS.JSON_TABLE( 
            SYSTOOLS.JSON2BSON(
                JSON_OBJECT( 
                   KEY 'array' 
                   VALUE JSON_QUERY(JSON_IN, JSON_PATH)
                   FORMAT JSON
                )
            ),
            'array',
            's:32000'
        ) 
    ) AS RESULTS

### Return a BIGINT Value
This function will take an array and return an bigint value.

* Version 1 - Takes VARCHAR as input
* Version 2 - Take BSON (BLOB) as input

In [ ]:
%%sql -q
CREATE OR REPLACE FUNCTION JSON_ARRAY_BIGINT (
    IN JSON_IN VARCHAR(32000),
    IN JSON_PATH VARCHAR(1024)
)
RETURNS
    TABLE( VALUE BIGINT )
RETURN
    SELECT RESULTS.VALUE FROM 
      TABLE ( 
         SYSTOOLS.JSON_TABLE( 
            SYSTOOLS.JSON2BSON(
                JSON_OBJECT( 
                   KEY 'array' 
                   VALUE JSON_QUERY(JSON_IN, JSON_PATH)
                   FORMAT JSON
                )
            ),
            'array',
            'l'
        ) 
    ) AS RESULTS

In [ ]:
%%sql -q
CREATE OR REPLACE FUNCTION JSON_ARRAY_BIGINT (
    IN JSON_IN BLOB,
    IN JSON_PATH VARCHAR(1024)
)
RETURNS
    TABLE( VALUE BIGINT )
RETURN
    SELECT RESULTS.VALUE FROM 
      TABLE ( 
         SYSTOOLS.JSON_TABLE( 
            SYSTOOLS.JSON2BSON(
                JSON_OBJECT( 
                   KEY 'array' 
                   VALUE JSON_QUERY(JSON_IN, JSON_PATH)
                   FORMAT JSON
                )
            ),
            'array',
            'l'
        ) 
    ) AS RESULTS

### Return a INT Value
This function will take an array and return an bigint value.

* Version 1 - Takes VARCHAR as input
* Version 2 - Take BSON (BLOB) as input

In [ ]:
%%sql -q
CREATE OR REPLACE FUNCTION JSON_ARRAY_INTEGER (
    IN JSON_IN VARCHAR(32000),
    IN JSON_PATH VARCHAR(1024)
)
RETURNS
    TABLE( VALUE INTEGER )
RETURN
    SELECT RESULTS.VALUE FROM 
      TABLE ( 
         SYSTOOLS.JSON_TABLE( 
            SYSTOOLS.JSON2BSON(
                JSON_OBJECT( 
                   KEY 'array' 
                   VALUE JSON_QUERY(JSON_IN, JSON_PATH)
                   FORMAT JSON
                )
            ),
            'array',
            'i'
        ) 
    ) AS RESULTS

In [ ]:
%%sql -q
CREATE OR REPLACE FUNCTION JSON_ARRAY_INTEGER (
    IN JSON_IN BLOB,
    IN JSON_PATH VARCHAR(1024)
)
RETURNS
    TABLE( VALUE INTEGER )
RETURN
    SELECT RESULTS.VALUE FROM 
      TABLE ( 
         SYSTOOLS.JSON_TABLE( 
            SYSTOOLS.JSON2BSON(
                JSON_OBJECT( 
                   KEY 'array' 
                   VALUE JSON_QUERY(JSON_IN, JSON_PATH)
                   FORMAT JSON
                )
            ),
            'array',
            'i'
        ) 
    ) AS RESULTS

### Return a Date Value
This function will take an array and return a date value.

* Version 1 - Takes VARCHAR as input
* Version 2 - Take BSON (BLOB) as input

In [ ]:
%%sql -q
CREATE OR REPLACE FUNCTION JSON_ARRAY_DATE (
    IN JSON_IN VARCHAR(32000),
    IN JSON_PATH VARCHAR(1024)
)
RETURNS
    TABLE( VALUE DATE )
RETURN
    SELECT RESULTS.VALUE FROM 
      TABLE ( 
         SYSTOOLS.JSON_TABLE( 
            SYSTOOLS.JSON2BSON(
                JSON_OBJECT( 
                   KEY 'array' 
                   VALUE JSON_QUERY(JSON_IN, JSON_PATH)
                   FORMAT JSON
                )
            ),
            'array',
            'd'
        ) 
    ) AS RESULTS

In [ ]:
%%sql -q
CREATE OR REPLACE FUNCTION JSON_ARRAY_DATE (
    IN JSON_IN BLOB,
    IN JSON_PATH VARCHAR(1024)
)
RETURNS
    TABLE( VALUE DATE )
RETURN
    SELECT RESULTS.VALUE FROM 
      TABLE ( 
         SYSTOOLS.JSON_TABLE( 
            SYSTOOLS.JSON2BSON(
                JSON_OBJECT( 
                   KEY 'array' 
                   VALUE JSON_QUERY(JSON_IN, JSON_PATH)
                   FORMAT JSON
                )
            ),
            'array',
            'd'
        ) 
    ) AS RESULTS

### Return a DECFLOAT Value
This function will take an array and return a `DECFLOAT` value.

* Version 1 - Takes VARCHAR as input
* Version 2 - Take BSON (BLOB) as input

In [ ]:
%%sql -q
CREATE OR REPLACE FUNCTION JSON_ARRAY_DECFLOAT (
    IN JSON_IN VARCHAR(32000),
    IN JSON_PATH VARCHAR(1024)
)
RETURNS
    TABLE( VALUE DECFLOAT(34) )
RETURN
    SELECT RESULTS.VALUE FROM 
      TABLE ( 
         SYSTOOLS.JSON_TABLE( 
            SYSTOOLS.JSON2BSON(
                JSON_OBJECT( 
                   KEY 'array' 
                   VALUE JSON_QUERY(JSON_IN, JSON_PATH)
                   FORMAT JSON
                )
            ),
            'array',
            'n'
        ) 
    ) AS RESULTS

In [ ]:
%%sql -q
CREATE OR REPLACE FUNCTION JSON_ARRAY_DECFLOAT (
    IN JSON_IN BLOB,
    IN JSON_PATH VARCHAR(1024)
)
RETURNS
    TABLE( VALUE DECFLOAT )
RETURN
    SELECT RESULTS.VALUE FROM 
      TABLE ( 
         SYSTOOLS.JSON_TABLE( 
            SYSTOOLS.JSON2BSON(
                JSON_OBJECT( 
                   KEY 'array' 
                   VALUE JSON_QUERY(JSON_IN, JSON_PATH)
                   FORMAT JSON
                )
            ),
            'array',
            'n'
        ) 
    ) AS RESULTS

#### Credits: IBM 2019, George Baklarz [baklarz@ca.ibm.com]